{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-bg">

	<div class="d-flex w-100 align-items-center justify-content-between">
		<!-- Logo aligned left -->
		<a class="d-flex align-items-center" style="font-size: 0.8rem; font-weight: normal;" href="index.html">
			<div class="flex-shrink-0">
				<img src="{% static 'images/logo-notext.png' %}" alt="SEA-MaP Logo" style="width:50px;">
			</div>
			<div class="ms-3">
				<div class="fw-bold fs-4">SEA-MaP</div>
				<div class="text-muted small">
					Regional Platform for Innovation and Investments
				</div>
			</div>
		</a>
		<!-- Step aligned right -->
		<div class="d-flex align-items-center" style="max-width: 400px;">
			<div class=" w-100">
				<div class="step-info text-center">
					<span class="text-muted">Onboarding: Step 1 of 4</span>
				</div>
				<div class="progress">
					<div class="progress-bar" style="width: 25%"></div>
				</div>
			</div>
		</div>
	</div>


</nav>