# Email Configuration for 2FA
# Replace these with your actual Gmail credentials
EMAIL_HOST_USER="sikharin@iex.co.th"
EMAIL_HOST_PASSWORD="rdzd fbxo ffzu vvsv"

# Example:
# EMAIL_HOST_USER=john.doe@gmail.com  
# EMAIL_HOST_PASSWORD=abcd efgh ijkl mnop

# Other environment variables
DEBUG=True
SECRET_KEY=django-insecure-d%xr13cxhs+hl0czf5^(g6fo-dt-p$!&ti1j5d(8g=sd&nf0-1