Django==4.2.23
Pillow==11.3.0
gunicorn==21.2.0
psycopg==3.2.9
psycopg-binary==3.2.9
whitenoise==6.5.0
python-decouple==3.8
python-dotenv==1.1.1
dj-database-url==2.1.0
asgiref==3.9.0
sqlparse==0.5.3
typing-extensions==4.14.0
